Q1. :-

1.string : -

In [3]:
s = "joy"
s

'joy'

2.list :-

In [4]:
l = [76,89,65,54,12.98,True,"ram"]
l

[76, 89, 65, 54, 12.98, True, 'ram']

3.float :-

In [5]:
f = 98.65
f

98.65

4.tuple :-

In [1]:
t = (9,6,7,8, "joy","pwskills" , True , 99.98 , )

In [ ]:
Q2. :-

In [7]:
var1 = ' '
type(var1)

str

In [8]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [10]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

var4 = 1.
type(var4)

In [ ]:
Q3. :-

1.(/) DIVISION OPERATOR :- used to perform division between two operands .

eg :-

In [25]:
a = 9 
b = 3
a/b

3.0

2.(%) MODULUS OPERATOR :- used to find out remainder , after division is performed between two operands.

eg :-

In [24]:
c = 8
d = 3
c % d

2

3.(//) FLOOR OPERATOR :- used to find out the quotient , after divison is performed between two operands .

eg :-

In [27]:
e = 18
f = 6
e // f

3

4.(**) EXPONENT OPERATOR :- used to find power of a given number.

eg :-

In [35]:
3**2

9

In [36]:
5**3

125

Q4 : -

In [39]:
l = [23 , 45 , "ram" , 98.43 , True , 56 , 87 , 'shyam' , 78.9876 , False]
for i in l :
    print(type(i))
    print(i)

<class 'int'>
23
<class 'int'>
45
<class 'str'>
ram
<class 'float'>
98.43
<class 'bool'>
True
<class 'int'>
56
<class 'int'>
87
<class 'str'>
shyam
<class 'float'>
78.9876
<class 'bool'>
False

Q5 :-

In [3]:
A = int(input())
B = int(input())
while A % B==0 :
    RESULT = A / B
    print(RESULT)
    break

 12
 4

3.0

Q6 :-

In [9]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l :
    
    if (i%3==0) :
        print(i)
        print('divisible by 3')
    else :
        print(i)
        print('not didvisible by 3')

1
not didvisible by 3
2
not didvisible by 3
3
divisible by 3
4
not didvisible by 3
5
not didvisible by 3
6
divisible by 3
7
not didvisible by 3
8
not didvisible by 3
9
divisible by 3
10
not didvisible by 3
11
not didvisible by 3
12
divisible by 3
13
not didvisible by 3
14
not didvisible by 3
15
divisible by 3
16
not didvisible by 3
17
not didvisible by 3
18
divisible by 3
19
not didvisible by 3
20
not didvisible by 3
21
divisible by 3
22
not didvisible by 3
23
not didvisible by 3
24
divisible by 3
25
not didvisible by 3

Q7 :-

IMMUTABLE DATA TYPES :-
-----------------------
The immutable data types are those data types in which we cannot modify elements.
eg : - string , int , float.

In [11]:
S = 'RAM'
S[1] = 'O'

TypeError: 'str' object does not support item assignment

MUTABLE DATA TYPES :-
-----------------------
The mutable data types are those data types in which we can modify elements.
eg : - list .

In [12]:
l = [2, 3, 'ram', 5, 6, 7, 8, 9]
l

[2, 3, 'ram', 5, 6, 7, 8, 9]

In [14]:
l[3] = 98 
l

[2, 3, 'ram', 98, 6, 7, 8, 9]